<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercitando a Tabuada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="fundo">
    <div class="container">
        <h1>Exercitando a Tabuada</h1>
        <button onclick="window.location.href='/jogo'" class="iniciar-btn">Iniciar</button>
        <p class="footer">Criado por Alexandre Tolentino @2024</p>
    </div>
</body>
</html>
